

/* .btn1 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn1:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
} */

.bdy{
  background-image: url(BG_gif1_c.gif);
   height: 100%; 
   background-size: cover; 
   background-repeat: no-repeat;
    background-position: center;
}
#div1{
  margin-left: 50;
  margin-top: 310; 
  margin-right: 900;
}
#div2{
  position: absolute; 
  left: 1220px; 
  bottom: 65px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color:rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 29px;

}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






.body1{

  background-color:black;




}


.body2{
  background-color: black;
  color: white;
  font-family: 'Outfit', sans-serif;
  





}



#sign_up_box{
  background-color: #271d1d;
  margin: auto;
  border-radius: 5px;
  width: 500px;
  height: 620px;
  margin-top: 45px;
 
  
  

}

#div_nt{
  position: absolute;
  left: 1280px; 
  bottom: 50px;
}

.div_lets{
  margin-left: 550;
   margin-top: 100;
}
.div_lets h1{
  color: white;
  font-family: 'Cabin Sketch', cursive; 
  font-size: 70px;
}
.h1_sep{
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
}
form{
  margin-left: 40px;
  width: 800px;
}
form label{
  display:flex;
  margin-top: 10px;
  font-size: 20px;
}

form input{
  width: 350px;
  padding: 10px;
  border: none;
  border: 2px solid rgba(255, 0, 0, 0.758);
  border-radius: 7px;
  outline: none;
}


input[type="button"]{

margin-top: 20px;
cursor: pointer;
width: 150px;
height: 35px;
border: none;
background-color: #43b010;
color: white;
font-size: 18px;
text-align: center;


}

.para{
   text-align: center;
   padding-top: 20px;
}
.para a{
  color: #48ff00;
}

.para2 a{
 
  color: #48ff00;
}
.para2{
  text-align: center;
}

.body3{
  background-color: black;
  color: white;
  font-family: 'Outfit', sans-serif;
    
  

}


.login_box{
  background-color: #271d1d;
  
  margin: auto;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  margin-top: 110px;

}

.para4{
  text-align: center;
}

.para4 a{
  color: #48ff00;
}



.btn_nt{
  background-color: rgb(157, 255, 0);
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 7px;
  width: 150px;
  cursor: pointer;
  height: 40px;
  font-size: 20px;
  text-align: center;
}



@media screen and  (max-width:400px){
  #div1{
    width: 300px;
    margin-top: 70px;
    height: auto;
    
  }
 #div2{
  position: absolute;
  left: 70;
  bottom: 40;
 }
.bdy{
  background-color: #000000;
}

#sign_up_box{
  margin-top: 500;
  
  margin-left: 230;
}

#div_nt{
   position: absolute;
   left: 400;
   bottom: -600;
}

.para2{
  margin-left: 280;
  width: 400;
}
.div_lets h1{
    font-size: 20px;
   
}
.div_lets{
  margin-top: 50;
  margin-left: 220;


}

}

